{{~#link-to 'lists.show' list}}
<p>{{list.title}} ({{list.tasks.length}})
</p>
{{~/link-to}}
{{#unless list.active}}
  <div class="buttons">
    <button class="delete" {{action 'delete'}}>Delete</button>
  </div>
  {{/unless}}
  <div class="buttons">
    <button class="edit" {{action 'edit'}}>Edit</button>
  </div>
{{#if editing}}
<form class="edit-title-form">
  <label>Name</label>
  {{input type="text" placeholder="Title" class="list-title" value=list.title}}
</form>
{{/if}}
{{yield}}
