<p>Active</p>
<ul>
{{#each list in model}}
  {{#if list.active}}
  <li>{{link-to list.title 'lists.show' list}} Status: {{list.active}} ({{list.tasks.length}})</li>
  {{/if}}
{{/each}}
  </ul>
<div id="inactive">
  <p>Inactive</p>
  <ul>
  {{#each list in model}}
  {{#unless list.active}}
  <li>{{link-to list.title 'lists.show' list}} Status: {{list.active}} ({{list.tasks.length}})</li>
  {{/unless}}
{{/each}}
</ul>
</div>
  {{outlet}}
